@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.navegacao {
    text-decoration: none;
    color: rgb(0, 150, 150);
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 20px;
    border: 2px solid rgb(0, 150, 150);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
}
.navegacao:hover {
    background-color: rgb(68, 165, 165);
    color: black;
} 

body {
    font-size: MedievalSharp;
    padding: 20px;
}

h1 {
   font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: black;
}

.Flex-countainer {
    width: 90%;
    height: 200px;
    background-color: rgb(255, 236, 152);
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content:flex-end;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}
